@font-face {
    font-family: 'Muller';
    src: local('Muller UltraLight'), local('MullerUltraLight'),
        url('/font/MullerUltraLight.woff2') format('woff2'),
        url('/font/MullerUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller UltraLight Italic'), local('MullerUltraLightItalic')   
        url('/font/MullerUltraLightItalic.woff2') format('woff2'),
        url('/font/MullerUltraLightItalic.woff') format('woff');   
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Light Italic'), local('MullerLightItalic'),  
        url('/font/MullerLightItalic.woff2') format('woff2'),
        url('/font/MullerLightItalic.woff') format('woff');   
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Muller';
    src: local('Muller Regular Italic'), local('MullerRegularItalic'),
        url('/font/MullerRegularItalic.woff2') format('woff2'),
        url('/font/MullerRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),

        url('/font/MullerRegular.woff2') format('woff2'),
        url('/font/MullerRegular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'), 
        url('/font/MullerMedium.woff2') format('woff2'),
        url('/font/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium Italic'), local('MullerMediumItalic'), 
        url('/font/MullerMediumItalic.woff2') format('woff2'),
        url('/font/MullerMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),   
        url('/font/MullerBold.woff2') format('woff2'),
        url('/font/MullerBold.woff') format('woff');  
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold Italic'), local('MullerBoldItalic'),   
        url('/font/MullerBoldItalic.woff2') format('woff2'),
        url('/font/MullerBoldItalic.woff') format('woff');  
    font-weight: 700;
    font-style: italic;
}






* {
    box-sizing: border-box;
    font-family: "Muller", sans-serif;
}

html {
    background:#ffffff;
}

body {
    color: #121723;
}

a {
    text-decoration: none;
    color: #121723;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}



p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}




.container {
    max-width: 1110px;
    margin: auto;
    padding: 0;
}

.btn_s {
    padding: 12px 32.5px;
    border: 2px solid #121723;
    border-radius: 77px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.btn_l {
    display: inline-block;
    padding: 25px 54px;
    border-radius: 40px;
    transition: background .2s ease;
}

.title {
    font-weight: 400;
    font-size: 48px;
}

/* Head */

.header__container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ffffff;
}


.header__logo {
    display: none;
}

.header__container_top {
    display: none;
    background-color: #E6E8EC;
}

.header__bottom {
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
}

.header__container_bottom {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: flex-end;
}
.menu-item:not(:last-child){
margin-right: 58.75px;
}

.menu__link {
    font-size: 20px;
    font-weight: 400;
    /* transition: all .2s ease; */
}

.menu__link:focus{
    outline: none;
    background: #AA9DFA;
    color: #ffffff;
}

.menu__link:hover {
    color: #6D31EE;
}

.menu__link:active {
    background: none;
    color: #4F28A5;
}



.nav__component {
    display: flex;
}

.component__search {
    margin-right: 24px;
    display: inline-block;
}

.search {
    display: inherit;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../image/search.svg)
}

.menu__link_bootom {
    font-size: 16px;
}

.header__music {
    display: flex;
}

.music__song {
    display: flex;
    align-items: center;
    width: 173px;
    border-left: 1px solid #E6E8EC;
}
.music__song:last-child {
    border-right: 1px solid #E6E8EC;
}

.song__img {
    margin: 0 10px 0 12px;
    transition: all .2s ease;
}

.song__img path {
    transition: all .2s ease;
}

.song__img:hover path {
    fill: #6D31EE;
}

.song__img:focus path {
    fill: #AA9DFA;
}

.song__img:active path {
    fill: #4F28A5;
}

.song__text_top {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}

.header__age {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 60px;
    background: #E6E8EC;
}

.age__text {
    padding: 9px 7.5px;
    background: white;
    border-radius: 50%;
}

.age__number {
    font-size: 12px;
    color: #A1A6B4;
}

/* berger-menu */
.menu-burger__header {
    display: none;
}
.header__nav {
    display: flex;
}
.header__menu {
    display: flex;
	position: relative;
	z-index: 5;
}
.header__menu li {
	list-style: none;
	/* margin: 0px 0px 0px 36px; */
	color: #000;
	font-size: 16px;
	text-decoration: none;
}

@media(max-width: 424.99px){
    .header__nav {
        padding-top: 58px;
        display: inline-block;
        position: fixed;
        top: 0px;
        right: 0;
        background: #2F2C45;
        width: 100%;
        height: 200vw;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        left:100%;
    }
    .header__menu {
        display: inline-block;
    }
    .header__nav.open-menu{
        left:0%;
    }
    .header__menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
        }
    .menu-burger__header {
        position: absolute;
        top: 35%;
        left: 87.4%;
        width: 20.6px;
        height: 16.88px;
        display: inline-block;
        z-index: 10;
    }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 2px;
        width: 100%;
        position: absolute;
        background: #ffffff;
        margin: 0 auto;
        border-radius: 20px;
    }
    .menu-burger__header span{
        top: 18px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 2px;
    }
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(44deg);
        top: 15px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-44deg);
        bottom: 0px;
        transition: 0.4s;
    }
}


/* Banner */

.banner {
}

.banner__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__text {
    margin-top: 94px;
    max-width: 59%;
}

.banner__title {
    margin-bottom:14px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #121723;
}

.banner__title_italic {
    font-style: italic;
    font-weight: 400;
}

.banner__description {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 150%;
}

.banner__btn {
    display: inline-block;
    margin-bottom: 94px;
    padding: 25px 54px;
    background: #6D31EE;
    border-radius: 40px;
    transition: background .2s ease;
}

.banner__btn:hover {
    background: #AA9DFA;
}

.banner__btn:focus{
    outline: 2px solid #4F28A5;
}

.banner__btn:active {
    outline: none;
    background: #4F28A5;
}


.banner__btn_link {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.banner__pic {
}

.banner__pic_img {
}

.banner__img {
}



/* Podcasts */

.podcasts {
    background: #F2F2F2;
    padding: 94px 0;
    margin: 0 0 94px 0;
}

.podcasts__container {
}

.podcasts__title {
    font-weight: 400;
    font-size: 48px;
}

.podcasts__blocks {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.podcasts__block {
    display: flex;
    flex: 45%;
    max-height: 140px;
}

.podcasts__img {
    position: relative;
}

.podcasts__pic {
}

.podcasts__pic_img {
}

.podcasts__img_date {
    padding: 3px 6px;
    position: absolute;
    bottom: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    background: #E6E8EC;
}

.podcasts__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    background: #ffffff;
}

.podcasts__text {
    padding: 24px 33px 0 30px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.podcasts__description {
}

.podcasts__time {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
}

.podcasts__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.podcasts__artist {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
}

.podcasts__btn_play:hover circle {
    stroke:#6D31EE ;
} 

.podcasts__btn_play:hover path {
    fill: #6D31EE ;
}

.podcasts__btn_play:focus circle {
    stroke:#AA9DFA ;
} 

.podcasts__btn_play:focus path {
    fill: #AA9DFA ;
}

.podcasts__btn_play:active circle {
    stroke:#4F28A5 ;
    fill: #4F28A5;
} 

.podcasts__btn_play:active path {
    fill: white ;
}

.podcasts__info {
    padding: 10px 0 2px 0;
    border-top:1px solid #E6E8EC;
    font-weight: 400;
    color: #A1A6B4;
}

.podcasts__action {
    display: flex;
    gap: 30px;
    padding-left: 30px;
}

.podcasts__svg {
    display: flex;

}

.podcasts__svg svg {
    margin-right: 8px;
}
.podcasts__svg svg path,
.podcasts__svg p {
    transition: all .2s ease;
}

.podcasts__svg:hover svg path,
.podcasts__svg:hover p {
    color: #6D31EE;
    fill: #6D31EE;
}

.podcasts__svg:focus svg path,
.podcasts__svg:focus p {
    background: #AA9DFA;
}

.podcasts__svg:active svg path,
.podcasts__svg:active p {
    color: #4F28A5;
    fill: #4F28A5;
}

.podcasts__play {
}

.play__img {
}

.play__numb {
}

.podcasts__like {
}

.like__img {
}

.like__numb {
}

.podcasts__share {
}

.share__img {
}

.share__numb {
}

.podcasts__link {
    text-align: center;
}

.podcasts__btn {
    border: 2px solid #6D31EE;
    color: #6D31EE;
    font-weight: 500;
    font-size: 20px;
}

.podcasts__btn:hover {
    background: #6D31EE;
    color: #ffffff;
}

.podcasts__btn:focus {
    border: none;
    outline: 2px solid #4F28A5;
    background: #AA9DFA;
    color: #ffffff;
}

.podcasts__btn:active {
    border: 2px solid #4F28A5;
    outline: none;
    background: #4F28A5;
    color: #ffffff;
}

/* Broadcast */

.broadcast {
    padding-bottom: 94px;
}

.broadcast__container {
    display: flex;
}

/* broadcast__description  */

.broadcast__description {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    flex: 25;
}

.broadcast__description_select {
}

.broadcast__title {
}

.broadcast__autor {
    color: #A1A6B4;
}


.broadcast__description_text {
    display: flex;
    flex-direction: column;
}

.broadcast__pic {
    margin: 0 0 24px;
}

.broadcast__img {
}

.broadcast__btn {
    margin: 0 0 12px 0;
    max-width: 160px;
    text-align: center;
}


.broadcast__text {
    font-weight: 400;
    color: #A1A6B4;
}


/* broadcast__cards */
.broadcast__cards {
    display: flex;
    flex-wrap: wrap;
    flex: 73;
    gap: 30px;
}

.broadcast__card {
    display: flex;
    flex-direction: column;
}

.broadcast__card_pic {
    max-height: 148px;
}

.broadcast__card_img {
}

.broadcast__card_text {
    padding: 20px 20px 20px 16px;
    border: 1px solid #E6E8EC;
}

.broadcast__text_title {
    font-weight: 500;
    font-size: 20px;
}

.broadcast__text_description {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #A1A6B4;
}

.broadcast__text_link {
    position: relative;
    font-style: italic;
}

.broadcast__text_link::after {
    content: "";
    position: absolute;
    top: 13%;
    width: 26px;
    height: 10px;
    background: url(/image/broadcast__arrow.svg) no-repeat;
}


/* *******************
Select
******************* */

.select {
	width: 100%;

	
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	
	border: 1px solid #7E9BBD;
	border-radius: 6px;
	background-color: #fff;

	
	padding: 10px 35px 10px 15px;

	
	outline: none;

	cursor: pointer;
}

.select::-ms-expand {
	display: none;
}

.select:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}

.select-wrapper {
	position: relative;
}

/* Рисуем стрелочку */
.select-wrapper::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	border-color: #7e9bbd transparent transparent transparent;
	pointer-events: none;
}



.dropdown {
	position: relative;
}

.dropdown__button {
	position: relative;
	display: block;
    max-width: 255px;
	width: 100%;
	text-align: left;

	background: #E6E8EC;
    border: none  ;
    border-radius: 10px;
    z-index: 2;

	padding: 12px 12px 12px 20px;

	font-size: 16px;
    line-height: 16px;
    color: #121723;

	cursor: pointer;
}

.dropdown__button:active {
    background: #D2D5DD;
}

.dropdown__button:focus, .dropdown__button--active {
	outline: 1px solid#6D31EE;
}

.dropdown__button::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
    width: 14.5px;
    height: 8.5px;
    background: url(/image/select_arow.svg) no-repeat;
	pointer-events: none;
}

.dropdown__button--active::after {
    content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: rotate(180deg) translateY(50%);
    width: 14.5px;
    height: 8.5px;
    background: url(/image/select_arow.svg) no-repeat;
	pointer-events: none;
}


.dropdown__list {
	display: none;

	position: absolute;
	left: 0;
	top: 25px;

	margin: 0;
	padding: 0;
	list-style-type: none;

	background: #FFFFFF;
	/* box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6); */
	overflow: hidden;
    
	border-radius: 6px;
    max-width: 255px;
	width: 100%;

	z-index: 1;
}


.dropdown__list--visible {
	display: block;
}

.dropdown__list-item {
	margin: 0;
	padding: 0;
	border: 1px solid #E6E8EC;
	border-bottom: 0px;
	padding: 12px;
	cursor: pointer;
    color: #A1A6B4;
}

.dropdown__list-item:hover {
    
}

.dropdown__list-item:first-child {
	border-radius: 10px 10px 0 0;
    padding: 26px 12px 12px;
}

.dropdown__list-item:last-child {
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid #E6E8EC;
}

.dropdown__list-item:hover {
	background: #F5F6F7;
    color: #121723;
}

.dropdown__list-item:active {
    background: #E6E8EC;
}

.dropdown__input-hidden {
	display: none;
}


/* Quest */

.guest {
    background: #121723;
    color: #FFFFFF;
    padding: 94px 0;
}

.guest__container {
}

.guest__text {
    padding-bottom: 50px;
}

.guest__title {
    padding: 0 0 12px 0;
}

.title {
}

.guest__description {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #A1A6B4;
}

.guest__who {
    max-width: 825px;
    font-size: 20px;
    line-height: 160%;
    color: #A1A6B4;
}


.accordion__container {
    display: flex;
    gap: 30px;
}




/* Accardion */
#accordeon {
    flex: 70;
    max-width: 730px;
    width: 100%;
  }
  
  .acc-head {
    font-weight: 500;
    font-size: 20px;
    position: relative;
    padding: 35px 30px 35px 0;
    cursor: pointer;
    border-top: 1px solid #fff;
    transition: all .2s ease;
  }

  .acc-head:nth-last-child(2) {
    border-bottom: 1px solid #fff;
  }


  .acc-head .acc__head_after svg circle,
  .acc-head .acc__head_after svg path {
    transition: all .2s ease;
  }

  .acc-head:hover  {
    color: #AA9DFA;
  }

  .acc-head:active  {
    color: #AA9DFA;
  }

  .acc-head:hover .acc__head_after svg circle,
  .acc-head:hover .acc__head_after svg path {
    stroke: #AA9DFA;
  }

  .acc-head:active .acc__head_after svg,
  .acc-head:active .acc__head_after svg path {
    fill: #AA9DFA;
    stroke: #FFFFFF;
  }



  .acc__head_after {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
    width: 42px;
    height: 42px;
	pointer-events: none;
  }
  

  .acc-head_active {
    border-top: 1px solid #AA9DFA;
  }
  
  .acc-body {
    padding: 30px 0;
    margin-bottom: 5px;
    display: none;
  }

  .active {
    border-top: 1px solid #AA9DFA;
    border-bottom: 1px solid #AA9DFA !important;
  }

  .active + .acc-body:nth-last-child(1) {
    border-bottom: 1px solid #fff;
  }

  .active .acc__head_after {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: rotate(180deg) translateY(50%);
    width: 42px;
    height: 42px;
	pointer-events: none;
  }

  .acc__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

.acc__item {
    cursor: pointer;
    font-size: 16px;
}

.acc__item:active {
    color: #6D31EE;
}


/* Accordion Card */



.accordion__card_olga {
    display: none;
}

.accordion__card_default {
    display: none;
}

.accordion__card {
    flex: 30;
}

.accordion__card1 {
    display: flex;
}

.acc__active {
    display: block;
}

.accordion__pic {
    display: flex;
    margin-bottom: 14px;
}

.accordion__social {
    margin-bottom: 14px;
}

.accordion__link_social:not(:last-child){
    margin-right: 34px;
}
.accordion__autor {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.accordion__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #A1A6B4;
    margin-bottom: 42px;
}
.accordion__btn {
    padding: 12px 19.5px;
    border: 2px solid #AA9DFA;
    border-radius: 77px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #AA9DFA;
}

.accordion__btn:hover {
    background: #AA9DFA;
    color: #FFFFFF;
}

.accordion__btn:focus {
    background: #6D31EE;
    border: 2px solid #6D31EE;
    color: #FFFFFF;
}

.accordion__btn:active {
    background: #4F28A5;
    border: 2px solid #4F28A5;
    color: #FFFFFF;
}




/* Playlists */

.playlists__container {
    padding: 94px 0;
    display: flex;
}

.playlists__left {
    flex: 30;
}


.playlists__genres {
    color: #A1A6B4;
    margin-bottom: 8px;
}

.playlists__border {
    border-bottom: 1px solid #D2D5DD;
    margin-bottom: 38px;
}

.playlists__description {
    display: flex;
    flex-direction: column;
    color: #A1A6B4;
}
.playlists__description_text {
    line-height: 22px;
}
.playlists__description_date {
}

.playlists__right {
    flex: 65;
}

/* broadcast__cards */
.playlists__cards {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 30px;
}

.playlists__card {
    display: flex;
    flex-direction: column;
}

.playlists__card_pic {
    max-height: 160px;
}

.playlists__card_img {
    display: flex;
    position: relative;
}

.playlists__img_flag {
    position: absolute;
    top: 0;
    right: 0;
}

.playlists__card_text {
    padding: 16px;
    border: 1px solid #E6E8EC;
}

.playlists__text_title {
    font-weight: 500;
    font-size: 16px;
}

.playlists__text_description {
    font-weight: 400;
    font-size: 12px;
    color: #A1A6B4;
}

.playlists__text_link {
    position: relative;
    font-style: italic;
}

.playlists__text_link::after {
    content: "";
    position: absolute;
    top: 13%;
    width: 26px;
    height: 10px;
    background: url(/image/broadcast__arrow.svg) no-repeat;
}


/* Radio */

.form_radio {
	margin-bottom: 26px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
    font-size: 20px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 40px;
	margin-right: 0;
	line-height: 20px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: -4px;
	background: url(/image/radio.png) 0 0 no-repeat;
}
 
/* Checked */
.form_radio input[type=radio]:checked + label:before {
	background: url(/image/radio_chek.png) 0 0 no-repeat;
}
 
/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%);
}
 
/* Disabled
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
} */


/* Column */

.column {
    background: #292E39;
    padding: 102px 0 140px;
}

.column__container {
    display: flex;
    gap: 30px;
}
.column__pic {
    display: flex;
    flex: 70;
}
.column__text {
    flex: 30;
    color: white;
}

.column__title {
    color: #F0D288;
    padding-bottom: 19px;
}
.column__wave {
    display: inline-block;
    padding-bottom: 19px;
}
.column__description {
    line-height: 180%;
}

.column__description_1 {
    padding-bottom: 12px;
}

.column__description_2 {
    padding-bottom: 30px;
}


.column__price {
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.column__btn {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    padding: 25px 13.5px;
    border: 2px solid #F0D288;
    border-radius: 100px;
    color: #F0D288;
    transition: all .2s ease;
}

.column__btn svg{
    position: relative;
    top: 4px;
}
.column__btn:hover svg g path {
    transition: all .2s ease;
}

.column__btn:hover {
    color: #000;
    background: #F0D288;
}

.column__btn:focus {
    color: #000;
    background: #BB973E;
    border: 2px solid #F0D288;
}

.column__btn:active {
    border: 2px solid #BB973E;
    color: #000;
    background: #BB973E;
}

.column__btn:hover svg g path:first-child{
    fill: #000;
}

.column__btn:hover svg g path:last-child{
    fill: #F0D288;
}

.column__btn:active svg g path:first-child{
    fill: #000;
}

.column__btn:active svg g path:last-child{
    fill: #BB973E;
}
