@font-face {
    font-family: 'Muller';
    src: local('Muller UltraLight'), local('MullerUltraLight'),
        url('/font/MullerUltraLight.woff2') format('woff2'),
        url('/font/MullerUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller UltraLight Italic'), local('MullerUltraLightItalic')   
        url('/font/MullerUltraLightItalic.woff2') format('woff2'),
        url('/font/MullerUltraLightItalic.woff') format('woff');   
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Light Italic'), local('MullerLightItalic'),  
        url('/font/MullerLightItalic.woff2') format('woff2'),
        url('/font/MullerLightItalic.woff') format('woff');   
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular')   
        url('/font/MullerRegular.woff2') format('woff2'),
        url('/font/MullerRegular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Regular Italic'), local('MullerRegularItalic'),
        url('/font/MullerRegularItalic.woff2') format('woff2'),
        url('/font/MullerRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'), 
        url('/font/MullerMedium.woff2') format('woff2'),
        url('/font/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium Italic'), local('MullerMediumItalic'), 
        url('/font/MullerMediumItalic.woff2') format('woff2'),
        url('/font/MullerMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}



@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),   
        url('/font/MullerBold.woff2') format('woff2'),
        url('/font/MullerBold.woff') format('woff');  
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold Italic'), local('MullerBoldItalic'),   
        url('/font/MullerBoldItalic.woff2') format('woff2'),
        url('/font/MullerBoldItalic.woff') format('woff');  
    font-weight: 700;
    font-style: italic;
}






* {
    box-sizing: border-box;
    font-family: Muller, sans-serif;
}

html {
    background:#ffffff;
}

body {
    color: #121723;
}

a {
    text-decoration: none;
    color: #121723;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}



p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}




.container {
    max-width: 1110px;
    margin: auto;
}

.btn_s {
    padding: 12px 32.5px;
    border: 2px solid #121723;
    border-radius: 77px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.btn_l {
    padding: 24px 75.5px;
    background: #6D31EE;
    border-radius: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}


/* Head */

.header__container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ffffff;
}


.header__logo {
    display: none;
}

.header__container_top {
    display: none;
    background-color: #E6E8EC;
}

.header__bottom {
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
}

.header__container_bottom {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: flex-end;
}
.menu-item:not(:last-child){
margin-right: 58.75px;
}

.menu__link {
    font-size: 20px;
    font-weight: 400;
    /* transition: all .2s ease; */
}

.menu__link:focus{
    outline: none;
    background: #AA9DFA;
    color: #ffffff;
}

.menu__link:hover {
    color: #6D31EE;
}

.menu__link:active {
    background: none;
    color: #4F28A5;
}



.nav__component {
    display: flex;
}

.component__search {
    margin-right: 24px;
    display: inline-block;
}

.search {
    display: inherit;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../image/search.svg)
}

.menu__link_bootom {
    font-size: 16px;
}

.header__music {
    display: flex;
}

.music__song {
    display: flex;
    align-items: center;
    width: 173px;
    border-left: 1px solid #E6E8EC;
}
.music__song:last-child {
    border-right: 1px solid #E6E8EC;
}

.song__img {
    margin: 0 10px 0 12px;
    transition: all .2s ease;
}

.song__img path {
    transition: all .2s ease;
}

.song__img:hover path {
    fill: #6D31EE;
}

.song__img:focus path {
    fill: #AA9DFA;
}

.song__img:active path {
    fill: #4F28A5;
}

.song__text_top {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}

.header__age {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 60px;
    background: #E6E8EC;
}

.age__text {
    padding: 9px 7.5px;
    background: white;
    border-radius: 50%;
}

.age__number {
    font-size: 12px;
    color: #A1A6B4;
}

/* berger-menu */
.menu-burger__header {
    display: none;
}
.header__nav {
    display: flex;
}
.header__menu {
    display: flex;
	position: relative;
	z-index: 5;
}
.header__menu li {
	list-style: none;
	/* margin: 0px 0px 0px 36px; */
	color: #000;
	font-size: 16px;
	text-decoration: none;
}

@media(max-width: 424.99px){
    .header__nav {
        padding-top: 58px;
        display: inline-block;
        position: fixed;
        top: 0px;
        right: 0;
        background: #2F2C45;
        width: 100%;
        height: 200vw;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        left:100%;
    }
    .header__menu {
        display: inline-block;
    }
    .header__nav.open-menu{
        left:0%;
    }
    .header__menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
        }
    .menu-burger__header {
        position: absolute;
        top: 35%;
        left: 87.4%;
        width: 20.6px;
        height: 16.88px;
        display: inline-block;
        z-index: 10;
    }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 2px;
        width: 100%;
        position: absolute;
        background: #ffffff;
        margin: 0 auto;
        border-radius: 20px;
    }
    .menu-burger__header span{
        top: 18px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 2px;
    }
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(44deg);
        top: 15px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-44deg);
        bottom: 0px;
        transition: 0.4s;
    }
}


/* Banner */

.banner {
}

.banner__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__text {
    margin-top: 94px;
    max-width: 59%;
}

.banner__title {
    margin-bottom:14px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #121723;
}

.banner__title_italic {
    font-style: italic;
    font-weight: 400;
}

.banner__description {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 150%;
}

.banner__btn {
    display: inline-block;
    margin-bottom: 94px;
    padding: 25px 54px;
    background: #6D31EE;
    border-radius: 40px;
    transition: background .2s ease;
}

.banner__btn:hover {
    background: #AA9DFA;
}

.banner__btn:focus{
    outline: 2px solid #4F28A5;
}

.banner__btn:active {
    outline: none;
    background: #4F28A5;
}


.banner__btn_link {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.banner__pic {
}

.banner__pic_img {
}

.banner__img {
}

/* Podcasts */

.podcasts {
    background: #F2F2F2;
}

.podcasts__container {
}

.podcasts__title {
    font-weight: 400;
    font-size: 48px;
}

.podcasts__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.podcasts__block {
    display: flex;
    flex: 45%;
    max-height: 140px;
}

.podcasts__img {
    position: relative;
}

.podcasts__pic {
}

.podcasts__pic_img {
}

.podcasts__img_date {
    padding: 3px 6px;
    position: absolute;
    bottom: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    background: #E6E8EC;
}

.podcasts__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    background: #ffffff;
}

.podcasts__text {
    padding: 24px 33px 0 30px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.podcasts__description {
}

.podcasts__time {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
}

.podcasts__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.podcasts__artist {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
}

.podcasts__btn_play {
}

.podcasts__info {
    padding: 10px 0 2px 0;
    border-top:1px solid #E6E8EC;
    font-weight: 400;
    color: #A1A6B4;
}

.podcasts__action {
    display: flex;
    gap: 30px;
    padding-left: 30px;
}

.podcasts__svg {
    display: flex;

}

.podcasts__svg svg {
    margin-right: 8px;
}

.podcasts__play {
}

.play__img {
}

.play__numb {
}

.podcasts__like {
}

.like__img {
}

.like__numb {
}

.podcasts__share {
}

.share__img {
}

.share__numb {
}

.podcasts__btn {
    text-align: center;
}

.podcasts__link {
}